body {
	font-family: sans-serif;
	font-size:12px;
}
#map {
	position:absolute;
	left:510px;
	top:10px;
	width:500px;
	height:500px;
}
#message {
	position:absolute;
	padding:5px 10px;
	background:#454545;
	font-weight:bold;
	color:#ff7;
	display:inline-block;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
#list {
	position:absolute;
	left:1010px;
	width:200px;
	top:10px;
	margin:0;
	background:#eee;
	list-style:none;
	padding:0;
}
#list li {
	padding:5px;
}
#list li:hover {
	background:#555;
	color:#fff;
	cursor:pointer;
	cursor:hand;
}
#video {
	width: 500px;
	height: 300px;
	position:absolute;
	background:#000;
	left:10px;
	top:10px;
}
#info {
	position:absolute;
	top:320px;
	left:10px;
}
